<mat-card class="course-card mat-elevation-z12">

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <div mat-card-avatar class="course-header-logo-image"><img src="assets/logos/scrimba dark-logo.svg" alt=""></div>
    <mat-card-title class= "heading"></mat-card-title>
    <mat-card-subtitle class= "heading">Course provider</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta amet magni fugiat odio iusto, optio sed unde exercitationem provident minus minima ea fuga aspernatur nostrum dicta eveniet repellendus vel repudiandae?
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">JOIN</button>
    <button mat-stroked-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
