<mat-card class="course-card mat-elevation-z12">

  <img mat-card-image [src]="course.image_480x270" alt="Photo of a Shiba Inu">
  <mat-card-header>
    <div mat-card-avatar class="course-header-logo-image"><img [src]="course.image_125_H" alt=""></div>
    <mat-card-title class= "heading">{{course.title}}</mat-card-title>
    <mat-card-subtitle class= "heading">Udemy</mat-card-subtitle>
    <mat-card-subtitle class= "heading">{{course.price}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{course.headline}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [href]="baseUrl+course.url" target="_blank">JOIN</a>
    <button mat-stroked-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
