<h2 class="mat-display-1 heading">About us</h2>
<p>As part of 2021 <a href="https://andela.com/alc/in-progress/google-africa-developer-scholarship-2021/">Google Africa scholarship</a> our community project was to give back to society<br>
What could be better than currating the best free resources availible so that medium to uplift ones self should not be a barrier.<br>
If you have the drive the means can br found here.</p>
<P>Please feel free to contact us if required</P>
<div class="image-container">
<mat-icon svgIcon="twitter"></mat-icon>
  <a href="https://twitter.com/thisiskeithan" target="_blank"><img src="/assets/images/kp.jpg" alt="twitter link" ></a>
  <a href="https://twitter.com/rodwynDev" target="_blank"><img src="/assets/images/rh.png" alt="twitter link"></a>
</div>


