
body {
  margin-top: 5em;
  max-width: 720px ;
}

.hero {
  margin-top: 5em;
  margin-left: 5em;
}


.clip-path{
content: '';
position: absolute;
right: 20%;
top: 0;
width: 200px;
height: 100%;
background: #673ab7;
transform-origin: top;
transform:skewX(-25deg);
z-index: -1;
}
.mat-raised-button {
  /* margin: 1rem; */
  font-size: 1.5rem;
  min-width: 10rem;
  min-height: 5rem;
}

.mat-raised-button .mat-icon {
  margin: 0.5rem;
  font-size: 2rem;
  height: 2rem;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .clip-path {
    right: 15em;
    width: 150px;
  }
}

@media only screen and (min-width :1001px) {
  .clip-path {
    right: 40%;
  }
}

@media only screen and (max-width: 599px) {
  .clip-path {
    right: -11em;
    width: 150px
  }
}




