
<section class="hero">
  <div class="heading-container">
    <H1 class="heading-main mat-display-3">Need Direction?</H1>
    <h3 class="heading-sub mat-display-1">Find the best curated free couses on the internet</h3>
    <h4 class="heading-sub mat-display-1">Start your journey today!</h4>
    <button class="mat-raised-button mat-elevation-z6 " mat-button color="primary" matRipple>Get Started<mat-icon>rocket_launch</mat-icon></button>
  </div>
  <div class="clip-path"></div>
  <img class="hero-image" src="assets/images/hero-main.jpg">
</section>
<mat-divider></mat-divider>
<section class="quote-container">
  <H2 class="heading-sub mat-display-1">Education is the most powerful weapon, which you can use to change the world.</H2>
  <img class="quote-image" src="assets/images/Nelson-Mandela.png" alt="">
</section>
<section class="path-container"></section>

  <h3 class="heading-sub">Test area</h3>
<mat-divider></mat-divider>
<section class="cards">
  <mat-card  class="card-holder mat-elevation-z12">
    <div class="image-container">
      <img mat-card-image src="assets/images/Frontend.jpg" alt="">
    </div>
    <mat-card-title class="card-title">Frontend Development</mat-card-title>
    <div class="icon-container">
      <img class="card-icon" src="assets/logos/html5-original-wordmark.svg" alt="">
      <img class="card-icon" src="assets/logos/css3-original-wordmark.svg" alt="">
      <img class="card-icon" src="assets/logos/javascript-original.svg" alt="">
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam voluptate amet ipsum excepturi. Amet officiis cupiditate delectus magnam facilis dolorem! Eligendi quia amet sunt dignissimos facere tempora optio praesentium ullam.
      </p>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button class="card-button mat-raised-button mat-elevation-z6" mat-button color="primary" matRipple>Find Out More</button>
    </mat-card-actions>
  </mat-card>

  <mat-card  class="card-holder mat-elevation-z12">
    <div class="image-container">
      <img mat-card-image src="assets/images/backend.jpg" alt="">
    </div>
    <mat-card-title class="card-title">Backend Development</mat-card-title>
    <div class="icon-container">
      <img class="card-icon" src="assets/logos/nodejs-original-wordmark.svg" alt="">
      <img class="card-icon" src="assets/logos/java-original-wordmark.svg" alt="">
      <img class="card-icon" src="assets/logos/go-original-wordmark.svg" alt="">
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam voluptate amet ipsum excepturi. Amet officiis cupiditate delectus magnam facilis dolorem! Eligendi quia amet sunt dignissimos facere tempora optio praesentium ullam.
      </p>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button class="card-button mat-raised-button mat-elevation-z6" mat-button color="primary" matRipple>Find Out More</button>
    </mat-card-actions>
  </mat-card>

  <mat-card  class="card-holder mat-elevation-z12">
    <div class="image-container">
      <img mat-card-image src="assets/images/devops.jpg" alt="">
    </div>
    <mat-card-title class="card-title">Dev-ops</mat-card-title>
    <div class="icon-container">
      <mat-icon class="card-icon">html</mat-icon><mat-icon class="card-icon">css</mat-icon><mat-icon class="card-icon">javascript</mat-icon>
    </div>
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam voluptate amet ipsum excepturi. Amet officiis cupiditate delectus magnam facilis dolorem! Eligendi quia amet sunt dignissimos facere tempora optio praesentium ullam.
      </p>
    </mat-card-content>
    <mat-card-actions class="button-container">
      <button class="card-button mat-raised-button mat-elevation-z6" mat-button color="primary" matRipple>Find Out More</button>
    </mat-card-actions>
  </mat-card>
</section>
<app-footer></app-footer>
