* {
  background-color:transparent;
  text-decoration: none;
}


.logo-container {
  margin-left: 3em;
}

.navigation-container {
  margin-right: 3em;
}
.navigation-items {
  list-style: none;
}

.navigation-items a:hover {
  color: aqua;
}

mat-icon {
  transform: scale(1.4);
}

.search-bar {
  align-items: center;
}

@media only screen and (max-width: 599px) {
    .logo-container{
      margin-left: 0;
    }
}
